# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C libraries
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# CatBoost & ML runtime logs
catboost_info/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
